@charset "utf-8";
/* CSS Document */
*{
	box-sizing:border-box;
}
body{
	background: url("Images/waterbg.jpg") no-repeat fixed top right;
	
}
#container{ 
width:800px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.30)

}
.left{
    width: 360px;
    height: 260px;
    background-color: #FFFFFF rgba(255,255,255,0.20);
    border-radius: 30px;
    float: left;
    margin: 0px 10px 10px 15px;
    padding: 30px 30px 30px;
    border-color: rgba(255,255,255,1.00);
	}
.right{
    width: 390px;
    height: 260px;
    background-color: #FFFFFF rgba(255,255,255,0.20);
    border-radius: 25px;
    float: left;
    margin: 0px 0px 10px 0px;
    padding: 30px 10px 30px 10px;
    display: compact;
}
footer{
	background-color:rgba(255,255,255,1.00);
	clear: both; 
}
header > h1{
    text-align: center;
    color: aqua;
    text-shadow: 2px 2px 1px rgba(25,55,54,1.00);
}
#container article{
	background-color:rgba(187,235,226,1.00);
}

.nerko {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}
/*unvisted link*/
.right a:link{
	color:#50373A;
	text-decoration: none;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
.right a:visited {
	color:blue
}
/*visited link*/
.right a:hover{
	font-size: 1.1em
}
.right a:active{
	color: blue
}
footer a:link{
	text-decoration: none;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}


#container2{
    width: 800px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.92);
    border-color: rgba(255,255,255,1.00);
}
.middle {
}
#container3{
	width: 800px;
    margin: 0 auto;
    background-color: rgba(68,153,146,0.60);
    border-color: rgba(255,255,255,1.00);
}

/*Navigtion bar code */
nav{
	margin: 0 0 20px 0 
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #97AAA9;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color:#5C9897;
}

.active {
  background-color: #0B1517;
}

@media only screen and (min-width: 768px) {
						/* tablets and desktop*/
		.left {
  padding: 10px 10px;
  float: left;
  width: 24.99999%;
}
	}
.right{
  padding: 10px 10px;
  float: left;
  width: 24.99999%;
}
	
@media only screen and (max-width: 767px) {
					/*phones*/
  .left .right {
	  padding: 10px 10px;
  float: left;
  width: 24.99999%;
    width: 32.99999%;
    margin: 1px 0;
	  display: flex;
	  flex-direction: column;
  }
}

